body{
			background-color: navy;

		}
		.title{
			color: orange;
		}
		.title_list
		{
			color: aqua;
		}
		.mean{
			color: white;
		}
		.list1{
			color: aqua;
		}
		span{
			color: white;
		}